.last-icon {
    background-color: #7E76CA;
    position: absolute;
    right: 0;
    top: 0;
    height: 70px;
    width: 70px;
}
.navbar-shadow{
    background: #FFFF;
    box-shadow: 0px 0px 20px rgba(48, 85, 77, 0.2);
}
.navbar-dashboard{
    background-color: #FFFF;
    box-shadow: 0px 0px 40px #C3C0E0;
}

