.body-background-color{
    background-color: #FAFAFE; 
}
.activeLink{
    position: absolute;
    left: 0;
    width: 6px;
    height: 50px;
    background-color: #7E76CA;
}

.Overlap{
    position: absolute;
    top: 0; 
}

.hide{
    position: absolute;
    left: -280px; 
}

.text-size{
    font-size: 20px;
}

.for-linear-background{
    height: 50px;
    background-image: linear-gradient(to right, #7e76ca7c, white);
}
.toggle-button{
    position: absolute;
    right: -20px;
    background-color: #7E76CA;
    border: 0;
}
.sidebar{
    transform: rotate(0deg);
}
.antiSidebar{
    transform: rotate(90deg);
}
